#### import  necessary libraries

In [3]:
import numpy as np 
import pandas as pd 
import os

In [4]:
### check the available dataset
os.listdir('F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw')

['Dataset-SA.csv',
 'flipkart.csv',
 'flipkart_product.csv',
 'ratings_Electronics (1).csv']

In [8]:

for data in os.listdir('F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw'):
    df=pd.read_csv(f'F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw\\{data}',encoding='latin-1')
    print(f"<==================================={data}==========================================>")
    print(df.head())

<===================================Dataset-SA.csv==========================================>
                                        product_name product_price Rate  \
0  Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    5
1  Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    5
2  Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    3
3  Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    1
4  Candes 12 L Room/Personal Air Cooler??????(Whi...          3999    3

            Review                                            Summary  \
0           super!  great cooler excellent air flow and for this p...
1          awesome              best budget 2 fit cooler nice cooling
2             fair  the quality is good but the power of air is de...
3  useless product                  very bad product its a only a fan
4             fair                                      ok ok product

  Sentiment
0  positive
1  positive
2  positive
3  negative
4   neutral
<===================================flipkart.csv==========================================>
   Unnamed: 0                                       Product_name  \
0           0  Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...
1           1  Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...
2           2  Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...
3           3  DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...
4           4  DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...

                                              Review  Rating
0  Best under 60k Great performanceI got it for a...       5
1                                 Good perfomence...       5
2  Great performance but usually it has also that...       5
3  My wife is so happy and best product ðð»ð       5
4  Light weight laptop with new amazing features,...       5
<===================================flipkart_product.csv==========================================>
                                         ProductName     Price Rate  \
0  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
1  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
2  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    3
3  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    1
4  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    3

            Review                                            Summary
0           Super!  Great cooler.. excellent air flow and for this...
1          Awesome             Best budget 2 fit cooler. Nice cooling
2             Fair  The quality is good but the power of air is de...
3  Useless product                 Very bad product it's a only a fan
4             Fair                                      Ok ok product
<===================================ratings_Electronics (1).csv==========================================>
    AKM1MP6P0OYPR  0132793040  5.0  1365811200
0  A2CX7LUOHB2NDG  0321732944  5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341  1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341  3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341  1.0  1334707200
4  A1QGNMC6O1VW39  0511189877  5.0  1397433600

In [9]:
### check data information 
for data in os.listdir('F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw'):
    df=pd.read_csv(f'F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw\\{data}',encoding='latin-1')
    print(f"<==================================={data}==========================================>")
    print(df.info())

<===================================Dataset-SA.csv==========================================>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205052 entries, 0 to 205051
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   product_name   205052 non-null  object
 1   product_price  205052 non-null  object
 2   Rate           205052 non-null  object
 3   Review         180388 non-null  object
 4   Summary        205041 non-null  object
 5   Sentiment      205052 non-null  object
dtypes: object(6)
memory usage: 9.4+ MB
None
<===================================flipkart.csv==========================================>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2304 non-null   int64
 1   Product_name  2304 non-null   object
 2   Review        2304 non-null   object
 3   Rating        2304 non-null   int64
dtypes: int64(2), object(2)
memory usage: 72.1+ KB
None
<===================================flipkart_product.csv==========================================>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189874 entries, 0 to 189873
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ProductName  189874 non-null  object
 1   Price        189873 non-null  object
 2   Rate         189873 non-null  object
 3   Review       189870 non-null  object
 4   Summary      189860 non-null  object
dtypes: object(5)
memory usage: 7.2+ MB
None
<===================================ratings_Electronics (1).csv==========================================>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824481 entries, 0 to 7824480
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   AKM1MP6P0OYPR  object
 1   0132793040     object
 2   5.0            float64
 3   1365811200     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB
None

##### data cleaning

1. Dataset-SA.csv

In [21]:
data1=pd.read_csv(f'F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw\\Dataset-SA.csv',encoding='latin-1')

In [22]:
data1.head()

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral

In [23]:
data1=data1[['Review','Summary','Sentiment']]
data1.head()

,Review,Summary,Sentiment
0,super!,great cooler excellent air flow and for this p...,positive
1,awesome,best budget 2 fit cooler nice cooling,positive
2,fair,the quality is good but the power of air is de...,positive
3,useless product,very bad product its a only a fan,negative
4,fair,ok ok product,neutral

In [24]:
data1.shape

(205052, 3)

In [25]:
### check null values and duplicate values
data1.isnull().sum()

Review       24664
Summary         11
Sentiment        0
dtype: int64

In [26]:
#### we need to drop the Review column and drop the null values rows from Summary 
data1.drop(['Review'],inplace=True,axis=1)
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205052 entries, 0 to 205051
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Summary    205041 non-null  object
 1   Sentiment  205052 non-null  object
dtypes: object(2)
memory usage: 3.1+ MB

In [29]:
data1.dropna(axis=0,inplace=True)

In [30]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205041 entries, 0 to 205051
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Summary    205041 non-null  object
 1   Sentiment  205041 non-null  object
dtypes: object(2)
memory usage: 4.7+ MB

In [35]:
data1.duplicated().sum()

np.int64(111120)

In [36]:
data1.drop_duplicates(inplace=True)
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93921 entries, 0 to 205051
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Summary    93921 non-null  object
 1   Sentiment  93921 non-null  object
dtypes: object(2)
memory usage: 2.1+ MB

In [37]:
### recheck for duplicated and missing values 
print("No of missing values :", data1.isnull().sum())
print("No of duplicate values :",data1.duplicated().sum())

No of missing values : Summary      0
Sentiment    0
dtype: int64
No of duplicate values : 0

In [65]:
data1.rename(columns={'Summary':'Review'},inplace=True)

In [43]:
data1['Sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

2. flipkart.csv

In [55]:
data2=pd.read_csv(f'F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\raw\\flipkart.csv',encoding='latin-1')

data2.head()

,Unnamed: 0,Product_name,Review,Rating
0,0,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Best under 60k Great performanceI got it for a...,5
1,1,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Good perfomence...,5
2,2,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,Great performance but usually it has also that...,5
3,3,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,My wife is so happy and best product ðð»ð,5
4,4,DELL Inspiron Athlon Dual Core 3050U - (4 GB/2...,"Light weight laptop with new amazing features,...",5

In [56]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2304 non-null   int64
 1   Product_name  2304 non-null   object
 2   Review        2304 non-null   object
 3   Rating        2304 non-null   int64
dtypes: int64(2), object(2)
memory usage: 72.1+ KB

In [57]:
#### removing unnecessary columns first 

data2=data2[['Review','Rating']]

data2['Rating'].unique()

array([5, 4, 3, 2, 1])

In [58]:
#### check duplicates and null values
data2.isnull().sum()

Review    0
Rating    0
dtype: int64

In [59]:
data2.duplicated().sum()

np.int64(931)

In [60]:
### drop the duplicates 
data2.drop_duplicates(inplace=True)

data2.duplicated().sum()

np.int64(0)

In [ ]:
#####  Function to convert Rating [1,2,3,4,5]---> ['positive','negative','neutral']
## [5,4]--> positive , [3,2]--> neutral , [1,2]-->['negative']

def convertRating(rating):
    if rating==4 or rating==5 :
        return "positive"
    elif rating ==3 :
        return "neutral"
    else:
        return "negative"
    
data2['Rating']=data2['Rating'].apply(convertRating)
data2.rename(columns={"Rating": "Sentiment","Review":},inplace=True)

In [62]:
data2.tail()

                                                 Review Sentiment
2298  Cool and best in below 9000 prize range ,go fo...  positive
2299  Great display, accurate colours at this price ...  positive
2300  Superb monitor first brought 1 used for 2 mont...  positive
2302                        Only one issue with adapter  positive
2303  Worth the money u spend for this monitor Great...  positive

#### Merging Both Dataset

In [66]:
Final_Dataset = pd.concat([data1, data2],  ignore_index=True)

In [67]:
Final_Dataset.head()

                                              Review Sentiment
0  great cooler excellent air flow and for this p...  positive
1              best budget 2 fit cooler nice cooling  positive
2  the quality is good but the power of air is de...  positive
3                  very bad product its a only a fan  negative
4                                      ok ok product   neutral

In [68]:
Final_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95294 entries, 0 to 95293
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Review     95294 non-null  object
 1   Sentiment  95294 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [69]:
### check duplicates 
Final_Dataset.duplicated().sum()

np.int64(22)

In [70]:
Final_Dataset.drop_duplicates(inplace=True)
Final_Dataset.duplicated().sum()

np.int64(0)

#### Saving the final data into cleaned data

In [72]:
Final_Dataset.to_csv("F:\\New Start\\My projects\\Ecommerce Sentiment Analysis\\data\\cleaned\\cleaned_data.csv",index=False)